services:
  app:
    build:
      context: ./docker/php
    container_name: laravel-app
    volumes:
      - ./src:/var/www
    env_file:
      - .env
    depends_on:
      - db

  web:
    image: nginx:latest
    container_name: laravel-nginx
    ports:
      - "8081:80"
    volumes:
      - ./src:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: laravel-mysql
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306" # solo dev, luego se quita

volumes:
  db_data:
